.content-container p{
    font-family: 'Fulbo', sans-serif;
                                                
}

.header-container p{
    font-family: 'Fulbo', sans-serif;
    font-size: 1rem;

}